{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped" style="width:100%">
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Time</th>
      </tr>
    {% for history in history %}
      <tr>
        <td>{{ history.symbol }}</td>
        <td>{{ history.shares }}</td>
        <td>{{ history.price | usd }}</td>
        <td>{{ history.datetime }}</td>
      </tr>
    {% endfor %}
    </table>

{% endblock %}